server:
  port: 8081


spring:
  application:
    name: number-generate-service

  data:
    mongodb:
      host: localhost
      port: 27017
      database: numberGenerateService

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml


#springdoc:
#  swagger-ui:
#    path: /api/v1/swagger-ui
#  api-docs:
#    path: /api/v1/swagger.json


app:
  openapi:
    local-url: http://localhost:8081